<HTML>
    <form action="insertProduct" method="POST">
    <input type="text" name="Product Name"/>
    <input type="text" name="Product Description"/>
    <input type="text" name="Product Quantity"/>
    <input type="text" name="Product Price per Unity"/>
    <input type="submit" value="Cadastrar produto" />
    </form>

    <form action="searchProduct" method="POST">
    <input type="text" name="Product ID"/>
    <input type="submit" value="Procurar produto" />
    </form>

    <form action="updateProduct" method="POST">
    <input type="text" name="Product ID"/>
    <input type="text" name="Product Name"/>
    <input type="text" name="Product Description"/>
    <input type="text" name="Product Quantity"/>
    <input type="text" name="Product Price per Unity"/>
    <input type="submit" value="Alterar produto" />
    </form>

    <form action="deleteProduct" method="POST">
    <input type="text" name="Product ID"/>
    <input type="submit" value="Deletar produto" />
    </form>
    
</HTML>